<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<style>
		fieldset{border: 1px solid orangered;margin-bottom: 50px}
	</style>
</head>
<body>
	<div id="app">
		<fieldset>
			<legend> 学员录入系统 </legend>
			<div>
				<span>姓名:</span>
				<input type="text" placeholder="请输入姓名" v-model="newPerson.name">
			</div>
			<div>
				<span>年龄:</span>
				<input type="text" placeholder="请输入年龄" v-model="newPerson.age">
			</div>
			<div>
				<span>性别:</span>
				<select v-model="newPerson.sex">
					<option value="男">男</option>
					<option value="女">女</option>
				</select>
			</div>
			<button @click="addStudent()">添加学员</button>
		</fieldset>

		<table>
			<thead>
				<tr>
					<td>姓名</td>
					<td>年龄</td>
					<td>性别</td>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(p,i) in persons">
					<td>{{p.name}}</td>
					<td>{{p.age}}</td>
					<td>{{p.sex}}</td>
					<td>
						<button @click="deleteStudent(i)">删除</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

<script src="../js/vue.js"></script>


<script>
	new Vue({
	  el:"#app",
	  data:{
	  	persons:[
	  			{name:"mud1",age:19,sex:"mail"},
		        {name:"mud2",age:20,sex:"mail"},
		        {name:"mud3",age:21,sex:"mail"},
		        {name:"mud4",age:22,sex:"mail"}],
		newPerson:{name:"",age:"",sex:""},
	  },
	  methods:{
	    addStudent(){
	      // console.log(this.newPerson);
	      this.persons.unshift(this.newPerson),
	      this.newPerson={name:"",age:"",sex:""}
	    },
	    deleteStudent(i){
	      this.persons.splice(i,1)
	    }
	  }
	})

</script>

</body>
</html>